<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<!-- 通过自有函数输出HTML头部信息 -->
<meta name="description" content="SuperBlog">
<meta name="keywords" content="互联网,大数据,C#,blog,hadoop,elasticsearch">

<body>

<div th:fragment="common_footer" id="footerdiv">

    <style>

        .footer {
            background-color: #f5f6f7;
            background-color: var(--ifm-footer-background-color);
            color: inherit;
            color: var(--ifm-footer-color);
            padding: 2rem;
            padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
            width: 100% !important;
            height: auto !important;
        }




    </style>

    <footer class="footer footer--dark">
        <div class="container">
            <div class="row footer__links">
                <div class="col footer__col">
                    <h4 class="footer__title">合作伙伴</h4>
                    <ul class="footer__items">
                        <li class="footer__item"><a class="footer__link-item"
                                                    href="https://www.huaweicloud.com/">华为云</a></li>
                        <li class="footer__item"><a class="footer__link-item" href="https://www.qiniu.com/">七牛云</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer__col">
                    <h4 class="footer__title">关于我们</h4>
                    <ul class="footer__items">
                        <li class="footer__item"><a class="footer__link-item" target="_blank" rel="noopener noreferrer"
                                                    href="#">关于</a></li>
                        <li class="footer__item"><a class="footer__link-item"
                                                    href="https://www.romejs.cn/docs/community/Contributing">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer__col">
                    <h4 class="footer__title">学习资源</h4>
                    <ul class="footer__items">
                        <li class="footer__item"><a class="footer__link-item" target="_blank" rel="noopener noreferrer"
                                                    href="https://github.com/romejs/rome">文章列表</a></li>
                    </ul>
                    <ul class="footer__items">
                        <li class="footer__item"><a class="footer__link-item" target="_blank" rel="noopener noreferrer"
                                                    href="https://github.com">解决方案</a></li>
                    </ul>
                </div>
                <div class="col footer__col">
                    <h4 class="footer__title">友情链接</h4>
                    <ul class="footer__items">
                        <li class="footer__item"><a class="footer__link-item" target="_blank" rel="noopener noreferrer"
                                                    href="https://www.cnblogs.com/">博客园</a></li>
                        <li class="footer__item"><a class="footer__link-item" target="_blank" rel="noopener noreferrer"
                                                    href="https://www.52interview.com/">智客工坊</a></li>
                    </ul>
                </div>
            </div>
            <div class="text--center">
                <div class="margin-bottom--sm">
                    <a href="#" target="_blank" rel="noopener noreferrer" class="footerLogoLink_1Wg7"><img
                            class="footer__logo"
                            style="margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 40px;"
                            alt="Facebook Open Source Logo" src="../../avatars/logo2.png"/></a>
                </div>
                <div>
                    <div>
                        Copyright &copy; 2022 super blog.
                        <br/>
                        <a href="http://www.beian.miit.gov.cn/" target="_blank">xxxICP备xx号-001</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--回到顶部-->
    <a class="to-top"
       style="z-index: 1200; cursor: pointer; position: fixed; right: 15px; bottom: 30px; display: none;">
        <img src="/assets/img/top.svg" alt="返回顶部" title="返回顶部">
    </a>
</div>
</body>

</html>>