<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<!-- 通过自有函数输出HTML头部信息 -->
<meta name="description" content="superblog">
<meta name="keywords" content="互联网,大数据,C#,blog,hadoop,elasticsearch">

<head>

    <!-- 不使用 CDN-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <style type="text/css">
        .user-info {
            max-width: 100px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            vertical-align: top;
            line-height: 15px;
            position: relative;
            top: 6px;
            color: white;
        }

       .nav-user-photo {
            margin: -4px 8px 0 0;
            border-radius: 100%;
            border: 2px solid #FFF;
            max-width: 40px;
        }
    </style>
</head>

<body>

<!--&lt;!&ndash;begin #header-->
<header th:fragment="common_header" id="header" class="clearfix">
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
<!--        <a class="navbar-brand" href="/">Superblog</a>-->
        <img style="margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 40px;"  src="../../avatars/logo2.png" alt="Jason's Photo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/index">专题</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs/index">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contribute/Index">投稿</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account/login}" th:if="${session.aname == null}">登录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account/register}" th:if="${session.aname == null}">注册</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.aname != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img style="margin: -4px 8px 0 0;border-radius: 100%;border: 2px solid #FFF;max-width: 40px;"  src="../../avatars/user.jpg" alt="Jason's Photo">
                    <span class="user-info">
						<small>欢迎您,</small>
						<div th:text="${session.aname}"></div>
					</span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">个人中心</a>
                    <a class="dropdown-item" th:href="@{/account/logout}">退出登录</a>
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Something else here</a>-->
                </div>
            </li>
        </ul>


    </nav>

</header>
<!-- end #header -->

</body>

</html>