<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Super Blog</title>
<head>

    <!-- 不使用 CDN-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/prism.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.goup.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/app.js"></script>

    <!--jquery tmpl-->
    <!--<script src="/scripts/jquery.tmpl.js"></script>-->
    <!--<script src="/scripts/helper.js"></script>-->

    <style type="text/css">
        .user-info {
            max-width: 100px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            vertical-align: top;
            line-height: 15px;
            position: relative;
            top: 6px;
            color: white;
        }
    </style>

    <link rel="stylesheet" href="https://www.romejs.cn/fonts/fonts.css">
    <link href="/assets/css/footer.css" rel="stylesheet" />

    <!-- Matomo -->
    <script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//192.168.31.31/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
    <!-- End Matomo Code -->


</head>

<body class="no-skin">

<div th:include="layout/header :: common_header"></div>

<!--重点部分-->
<div layout:fragment="content" class="container" style="min-height: 600px;margin-bottom: 10px;"></div>

<div th:include="layout/footer :: footer"></div>

</body>
</html>