<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>账号注册</title>
    <!-- 不使用 CDN-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="/assets/css/style.css" rel="stylesheet" />-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>

<!--bs中所有的均应该包裹在其中。-->
<div class="container">
    <!-- row是珊栏系统的包裹容器-->
    <div class="row">
        <!-- col-md-x 表示此珊栏占据几个格子，offset-x 是偏移x格子-->
        <div class="col-md-4 col-md-offset-4 col-center-block">
            <!-- panel分为3个部分，heading,body,footer其中heading部分的颜色来自于panel-default的颜色-->
            <div class="panel panel-default">
                <!-- panel-headeing是有颜色的，此颜色来自于panel-default-->
                <div class="panel-heading">注册</div>
                <div class="panel-body">
                    <form action="/account/goregister" method="post">
                        <!--
                             1. form-group设置了距离上下部分div的距离，更美观。
                             2. 对于form-group 设置了has-feedback可以使其有背景图
                        -->
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="phone" required="required" placeholder="手机号码">
                            <span class="glyphicon  glyphicon-phone form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="account" required="required" placeholder="用户名">
                            <span class="glyphicon  glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="nickname" required="required" placeholder="昵称">
                            <span class="glyphicon  glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="密码" name="password" required="required">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="重复密码" name="rePassword" required="required">
                            <span class="glyphicon glyphicon-retweet form-control-feedback"></span>
                        </div>
                        <!-- button的btn-block 可以占满当前珊栏而不用自适应。-->
                        <button type="submit" class="btn btn-success btn-block btn-lg">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>