* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.list1 {
    display: flex;
    margin: 0 auto;
}

    .list1 li {
        flex: 1;
        border-radius: 0.25em;
        height: 2.5em;
        text-align: center;
        line-height: 2.5em;
        margin: 0.625em 0.32em;
    }

.listchange2, .listchange3, .listchange4 {
    display: none;
}

/*.huan {
    text-align: center;
    font-family: "微软雅黑";
    font-size: 1em;
    color: #999999;
}*/
