<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--css-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--js-->
    <script src="/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

</head>

<body>
<div class="page-content">

    <div class="page-content-area">
        <p>测试引入的Bootstrap是否有效?</p>
        <div class="row">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </div>

</div>

</body>
</html>