<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>Content</title>
</head>
<body>

<div layout:fragment="content">

    <div class="page-content">

        <div class="page-content-area">

            <h1>操作失败，请检查数据重试</h1>
            <input onclick="history.go(-1)" type="button" value="返回">

        </div>

    </div>

</div>
</div>


</body>
</html>