<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhike.blogdao.mapper.ArticleMapper">

    <!--根据username获取文章列表-->
    <select id="listArticleByUserId" resultType="com.zhike.blogpojo.BO.ArticleByUserIdBo">
        SELECT * FROM `article` WHERE `UserId`=#{UserId}
    </select>

</mapper>
