<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>

    <!-- 不使用 CDN-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="/assets/css/style.css" rel="stylesheet" />-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--<script src="/assets/js/jquery.goup.min.js"></script>-->
    <!--<script src="/assets/js/prism.js"></script>-->
    <!--<script src="/assets/js/app.js"></script>-->

    <!--<style>-->
        <!--a{-->
            <!--text-decoration: none;-->
            <!--color: #333333;-->
        <!--}-->
        <!--#idiv{text-align: center;border-radius: 20px;-->
            <!--width: 300px;-->
            <!--height: 350px;-->
            <!--margin: auto;-->
            <!--position: absolute;-->
            <!--top: 0;-->
            <!--left: 0;-->
            <!--right: 0;-->
            <!--bottom: 0;}-->
    <!--</style>-->

    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>

<!--<div id="idiv">-->
    <!--<form action="/account/gologin" method="post">-->

        <!--&lt;!&ndash;判断是否为空&ndash;&gt;-->
        <!--&lt;!&ndash;<p style="color: red" th:text="${msg}" th: if="${#strings.isEmpty(msg)}"></p>&ndash;&gt;-->

        <!--请输入姓名<input id="account" name="account" required="required"><br><br>-->
        <!--请输入密码<input id="password" name="password" type="password" placeholder="仅支持正整数" required="required"><br><br>-->
        <!--<input type="submit" value="登录"> &nbsp;<button> <a href="/account/goregister">注册</a></button>-->
    <!--</form>-->
<!--</div>-->


<!--bs中所有的均应该包裹在其中。-->
<div class="container">
    <!-- row是珊栏系统的包裹容器-->
    <div class="row">
        <!-- col-md-x 表示此珊栏占据几个格子，offset-x 是偏移x格子-->
        <div class="col-md-4 col-md-offset-4 col-center-block">
            <!-- panel分为3个部分，heading,body,footer其中heading部分的颜色来自于panel-default的颜色-->
            <div class="panel panel-default">
                <!-- panel-headeing是有颜色的，此颜色来自于panel-default-->
                <div class="panel-heading">请登录</div>
                <div class="panel-body">
                    <form action="/account/gologin" method="post">
                        <!--
                             1. form-group设置了距离上下部分div的距离，更美观。
                             2. 对于form-group 设置了has-feedback可以使其有背景图
                        -->
                        <div class="form-group has-feedback">
                            <!-- form-control 设置了边框有弧度圆角以及其中输入字体的pading以及margin,placeholder为默认的问题-->
                            <input type="text" class="form-control" name="account" required="required" placeholder="用户名">
                            <!-- 此项如果要显示必须在form-group的class上添加has-feedback且还要添加一个span-->
                            <!-- glyphicon是添加图片，form-control-feedback是指示这个是一个样式，同时设置其在右边-->
                            <span class="glyphicon  glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="密码" name="password" required="required">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <!-- 此处用label包裹checkbox 的原因是为了点击记住密码也能对复选框进行选择。-->
                                <label>
                                    <input type="checkbox" name="remeber">记住密码
                                </label>
                            </div>
                        </div>
                        <!-- button的btn-block 可以占满当前珊栏而不用自适应。-->
                        <button type="submit" class="btn btn-success btn-block btn-lg">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>