<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<!-- 通过自有函数输出HTML头部信息 -->
<meta name="description" content="superblog">
<meta name="keywords" content="互联网,大数据,C#,blog,hadoop,elasticsearch">

<head>

    <style type="text/css">

            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: none;
            }
            a:focus {
                text-decoration: none;
            }




    </style>
</head>

<body>

<!--begin #sidebar-->
<div th:fragment="common_sidebar" id="sidebar" class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/article/index">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> 文章管理 </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="menu-icon fa fa-edit"></i>
                <span class="menu-text"> 日志管理 </span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 账户设置 </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="index.html">
                    <span class="menu-text"> 用户管理 </span>
                </a>
                <a class="dropdown-item" href="index.html">
                    <span class="menu-text"> 角色管理 </span>
                </a>
                <a class="dropdown-item" href="index.html">
                    <span class="menu-text"> 权限管理 </span>
                </a>
            </div>
        </li>
    </ul>

</div>

<!-- end #sidebar -->

</body>

</html>